component-button ion-list-header {
  padding-left: 4px;
}

component-button section {
  margin-bottom: 1em;

  padding: 0 10px;
}

component-button section .content {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

component-button section .content ion-button {
  /* Prevent the button from stretching */
  align-self: start;
}
