.ios component-segment ion-header ion-segment {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

component-segment ion-content ion-segment {
  margin: 10px auto;
}
