.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 0 10px;
}

ion-accordion .ion-accordion-toggle-icon {
  display: none;
}

ion-datetime.ios {
  --background: var(--ion-background-color, #ffffff);
}

component-datetime ion-note {
  font-size: inherit;
}
