ion-content {
  --background: var(--ion-color-step-50, #f2f2f2);
}

.list-ios {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.list-ios ion-item:only-child {
  --border-width: 0.55px 0 0.55px 0;
}

.list-md ion-item:only-child {
  --border-width: 1px 0 1px 0;
}