/*
 * Lists
 */

.theme-list ion-item,
.home-list ion-item {
  --padding-start: 14px;
  --inner-padding-end: 14px;

  --transition: none;
}

.theme-list,
.home-list {
  padding-bottom: 40px;
}

.theme-list ion-toggle {
  padding-right: 0;
}

/*
 * iOS Border is hairline width
 */

.ios .home-list ion-item:first-child {
  --border-width: 0.55px 0 0 0;
}

.md .home-list ion-item:first-child {
  --border-width: 1px 0 0 0;
}

.ios .home-list ion-item:last-child {
  --border-width: 0 0 0.55px 0;
  --inner-border-width: 0;
}

.md .home-list ion-item:last-child {
  --border-width: 0 0 1px 0;
  --inner-border-width: 0;
}


/*
 * Component icons
 */

.component-icon {
  border-radius: 50%;

  padding: 7px;
  height: 18px;
  width: 18px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.component-icon-dark {
  background: #27323e;
  color: #fff;
}

.component-icon-primary {
  background: var(--ion-color-primary);
  color: #fff;
}
