/*
 * Component icons
 */

.component-icon {
  border-radius: 50%;
  padding: 5px;
  height: 16px;
  width: 16px;
}

.component-icon-dark {
  background: #27323e;
  color: #fff;
}

.component-icon-primary {
  background: var(--ion-color-primary);
  color: #fff;
}
