component-refresher ion-content {
  user-select: none;
}

component-refresher ion-item {
  --padding-start: 8px;
}

component-refresher .dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 8px;
  align-self: start;
}

component-refresher .md .dot {
  margin-top: 17px;
}

component-refresher .unread {
  background-color: #3684ff;
}

component-refresher ion-item h2 {
  font-weight: 500 !important;
}
