ion-content {
  user-select: none;
}

ion-item {
  --padding-start: 8px;
}

.unread {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #3684ff;
  margin-top: 15px;
  margin-right: 8px;
  align-self: start;
}

ion-item h2 {
  font-weight: 500 !important;
}

ion-item h3 {
  color: #777;
}