component-slides ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

component-slides .swiper-slide {
  display: block;
}

component-slides .swiper-slide img {
  max-height: 50%;
  max-width: 70%;
  margin: 36px 0;
  pointer-events: none;
}

component-slides b {
  font-weight: 500;
}

component-slides p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

component-slides p b {
  color: var(--ion-text-color, #000000);
}

component-slides .ios ion-list ion-item:first-child {
  --border-width: .55px 0 0 0;
}

component-slides .md ion-list ion-item:first-child {
  --border-width: 1px 0 0 0;
}
